

<table class="table table-striped" aria-labelledby="tableLabel">
  <thead>
    <tr class="table-borderless">
      <th colspan="2">
        Última actualización: {{ (isLoading$ | async) ? '...' : (((lastUpdate$ | async) | date:'medium') || 'N/A') }}
      </th>
      <th>
        <button class="btn btn-primary float-right" (click)="loadRates()">
          Actualizar
        </button>
      </th>
    </tr>
    <tr class="text-light bg-dark">
      <th>Moneda</th>
      <th>Compra</th>
      <th>Venta</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="!(isLoading$ | async)">
      <ng-container *ngFor="let rate of (rates$ | async)">
        <tr [ngClass]="{'table-danger': rate.error}">
          <td>{{ rate.currencyCode }}</td>
          <td>{{ rate.buy }}</td>
          <td>{{ rate.sell }}</td>
        </tr>
      </ng-container>
    </ng-container>
    <tr *ngIf="(isLoading$ | async)">
      <td colspan="3">
        <div class="d-flex justify-content-center pt-2 pb-2">
          <div class="spinner"></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
