<h1>Comprar moneda</h1>

<div class="container" *ngIf="isFormVisible">
  <form #currencyBuyForm="ngForm"
        (ngSubmit)="currencyBuyForm.form.valid && submitTransaction(currencyBuyForm)">
    <div class="form-group">
      <label for="userId">ID de usuario</label>
      <input type="text" class="form-control" id="userId"
              required
              pattern="\d+"
              [(ngModel)]="model.userId" name="userId"
              #userId="ngModel">
      <div [hidden]="!currencyBuyForm.submitted || userId.valid"
          class="alert alert-danger">
        El ID de usuario debe ser un número entero.
      </div>
    </div>
    <div class="form-group">
      <label for="currencyCode">Moneda</label>
      <input type="text" class="form-control" id="currencyCode"
              required
              [pattern]="supportedCurrenciesPattern"
              [(ngModel)]="model.currencyCode" name="currencyCode"
              #currencyCode="ngModel">
      <div [hidden]="!currencyBuyForm.submitted || currencyCode.valid"
          class="alert alert-danger">
        Las monedas soportadas son: {{ supportedCurrencies }}
      </div>
    </div>
    <div class="form-group">
      <label for="amount">Monto (ARS)</label>
      <input type="number" class="form-control" id="amount"
              min="0.01"
              required
              pattern="^(([1-9]\d*(\.\d{1,2})?)|(\d*\.\d{1,2}))\s*$"
              [(ngModel)]="model.amount" name="amount"
              #amount="ngModel">
      <div [hidden]="!currencyBuyForm.submitted || amount.valid"
          class="alert alert-danger">
        Monto inválido
      </div>
    </div>

    <button type="submit" class="btn btn-lg btn-block btn-success">
      Comprar
    </button>
  </form>
</div>

<div class="d-flex justify-content-center pt-5 pb-5" *ngIf="(isLoading$ | async)">
  <div class="spinner"></div>
</div>

<div [ngClass]="{'alert': true, 'alert-success': (result$ | async), 'alert-danger': (error$ | async)}"
    *ngIf="!(isFormVisible || (isLoading$ | async))"
    role="alert">
  <div *ngIf="(result$ | async)">
    Transaccion realizada exitosamente:
    <br />
    <br />
    <ng-template let-result [ngTemplateOutletContext]="{ $implicit: (result$ | async) }" [ngTemplateOutlet]="t" #t>
      <dl>
        <dt>Transacción No.</dt>
        <dd>{{ result.id }}</dd>
        <dt>Tipo</dt>
        <dd>Compra</dd>
        <dt>Fecha y hora</dt>
        <dd>{{ result.timestamp | date:'medium' }}</dd>
        <dt>ID de usuario</dt>
        <dd>{{ result.userId }}</dd>
        <dt>Moneda</dt>
        <dd>{{ result.currencyCode }}</dd>
        <dt>Monto (ARS)</dt>
        <dd>{{ result.amount }}</dd>
        <dt>Monto ({{ result.currencyCode }})</dt>
        <dd>{{ result.value }}</dd>
        <dt>Tasa:</dt>
        <dd>{{ result.rate }}</dd>
      </dl>
    </ng-template>
  </div>
  <div *ngIf="(error$ | async)">
    Ocurrió un error al intentar realizar la transacción. Por favor intente de nuevo más tarde.
    Error: {{(error$ | async)}}
  </div>
  <br />
  <button type="button" class="btn btn-lg btn-block btn-outline-dark" (click)="showForm()">
    Realizar otra compra
  </button>
</div>

<br />
<br />

<h2>Cotizaciones</h2>

<p>
  <strong>NOTA:</strong> Las tasas pueden diferir a las listadas al momento de realizar la compra.
  Se recomienda actualizar la lista para ver las tasas más recientes antes de realizar la compra.
</p>

<app-currency-rates></app-currency-rates>
